---
import PerformanceBadge from "./PerformanceBadge.astro"
import AboutCard from "./AboutCard.astro"
---
<section id="about" class="py-20 pt-24 md:pt-36 px-6 bg-white dark:bg-gray-900 transition-colors">
  <div class="container mx-auto max-w-4xl text-center">
    <h2 class="text-3xl md:text-4xl font-bold mb-6 text-gray-900 dark:text-gray-100">About michi</h2>
    
    <p class="text-lg text-gray-600 dark:text-gray-300 leading-relaxed mb-12">
      Think of <span class="font-semibold">michi</span> as a 
      <span class="font-semibold">command palette for your browser</span>.<br>  
    </p>

    <div class="grid md:grid-cols-3 gap-6 text-left mb-8">
      <AboutCard
        title="!reddit how to exit vim"
        subtitle="Reddit search instantly"
      />
      <AboutCard
        title="#repos"
        subtitle="Jump to your Gitub repos"
      />
      <AboutCard
        title="@dev"
        subtitle="Open your dev sessions tabs"
      />
    </div>
    <p class="text-lg text-gray-600 dark:text-gray-300 leading-relaxed mb-12">
      It gives your search bar <span class="font-semibold">superpowers</span>,
      running entirely on your machine for maximum privacy & speed. <br>
    </p>

    <PerformanceBadge/>
  </div>
</section>
